<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MERCHANT_KEY" value="FUVVOp"/>
    <add key="SALT" value="FA1wJbBM"/>
    <add key="PAYU_BASE_URL" value="https://test.payu.in/"/>
    <add key="action" value=""/>
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
    <add key="SMTP" value="192.168.2.21"/>
  </appSettings>
  <system.web>
    
    <machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" validation="SHA1"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
     <add verb="*" path="*.mdb" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.csv" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.private" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.rem" type="System.Web.HttpForbiddenHandler"/>
      <add verb="*" path="*.soap" type="System.Web.HttpForbiddenHandler"/>
      <add verb="*" path="*.asmx" type="System.Web.HttpForbiddenHandler"/>
    </httpHandlers>
    <authentication mode="Forms">
      <forms name="abc" loginUrl="homepage.aspx" defaultUrl="HomePage.aspx"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" buffer="true" validateRequest="true"/>
  
    <!--<customErrors mode="On" defaultRedirect="RegistrationErr.aspx">
      <error statusCode="404" redirect="RegistrationErr.aspx"/>
      <error statusCode="500" redirect="RegistrationErr.aspx"/>
    </customErrors>-->
  
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="homepage.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="NoAccess" verb="*" path="UI/*" preCondition="integratedMode" type="MyNameSpace.NoAccessHandler"/>
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="HPSCDBNEW" connectionString="Data Source=49.50.105.37;Initial Catalog=TesttingHSRLM;Persist Security Info=True;User ID=hsrlm;Password=hsrlm@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>